
<p>
  <strong>Title:</strong>
  <%= @artical.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @artical.text %>
</p>

<h2>Comments</h2>
<% @artical.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @artical, @artical.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_artical_path(@artical) %> |
<%= link_to 'Back', articals_path %>
